.product_view_container {
    margin-bottom: 96px;

    .images_section {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        gap: 15px;

        .img1 {
            width: 50%;
        }

        .images_section_2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 15px;

            img {
                width: 100%;
            }

            .img5::after {
                color: '+15';
                color: #FFF;
                font-size: 36px;
                font-weight: 600;
                line-height: 44px;
                letter-spacing: -0.72px;
            }

            @media only screen and (max-width:680px) {
                gap: 5px;
            }
        }

        @media only screen and (max-width:680px) {
            flex-direction: column;

            .img1 {
                width: 100%;
            }
        }

        @media only screen and (max-width:680px) {
            gap: 5px;
        }
    }

    .product_view_descr {
        padding-top: 24px;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .product_view_main_descrs {
            width: 880px;

            hr {
                background: #E6E9EC;
                height: 1px;
            }

            .product_view_main_descr_about {
                .product_view_main_descr_names {
                    display: flex;
                    justify-content: space-between;
                    align-items: start;

                    .product_view_main_descr_names_heading {
                        color: #0D263B;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 32px;
                        letter-spacing: -0.48px;
                    }

                    .product_view_main_descr_names_paragraph {
                        color: var(--text-2, #696969);
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .product_view_main_descr_names_btns {
                        display: flex;
                        gap: 26px;
                        align-items: center;

                        .product_view_main_descr_names_btns_share {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .product_view_main_descr_names_btns_share_btn {
                                border-radius: 60px;
                                background: #dfe9ed;
                                padding: 10px;

                                &:hover {
                                    opacity: .7;
                                }

                                &:hover {
                                    opacity: .5;
                                }

                                img {
                                    width: 14px;
                                    height: 14px;
                                    flex-shrink: 0;
                                }
                            }
                        }

                        .product_view_main_descr_names_btns_like {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .product_view_main_descr_names_btns_like_btn {
                                border-radius: 60px;
                                background: #dfe9ed;
                                padding: 10px;

                                &:hover {
                                    opacity: .7;
                                }

                                &:hover {
                                    opacity: .5;
                                }

                                img {
                                    width: 14px;
                                    height: 14px;
                                    flex-shrink: 0;
                                    color: #FFF;
                                }
                            }
                        }
                    }

                    @media only screen and (max-width:580px) {
                        gap: 20px;
                        flex-direction: column;
                    }
                }

                .product_view_main_price_wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    margin-bottom: 49px;
                    margin-top: 20px;

                    .product_view_main_price {
                        display: flex;
                        gap: 24px;

                        .product_view_main_price_icons {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            span {
                                color: #696969;
                                flex-shrink: 0;

                            }

                            svg {
                                flex-shrink: 0;
                            }
                        }

                        flex-wrap: wrap;
                    }

                    .product_view_main_price_title {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        align-items: end;

                        .product_view_main_price_title_heading {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            @media only screen and (max-width:470px) {
                                flex-direction: column;
                                align-items: start;
                            }

                        }

                        del {
                            color: #696969;
                            font-size: 12px;
                        }

                        .product_view_main_price_title_paragraph {
                            color: #696969;

                        }

                        @media only screen and (max-width:470px) {
                            align-items: start;
                            margin-top: 30px;
                        }
                    }

                    @media only screen and (max-width:470px) {
                        flex-direction: column;
                        margin-top: 30px;
                        align-items: start;
                    }
                }

                .product_view_main_description {
                    margin-bottom: 33px;

                    .product_view_main_description_heading {
                        color: #0D263B;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 28px;
                        margin-bottom: 16px;
                    }

                    .product_view_main_description_paragraph {
                        color: #696969;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 16px;
                    }

                    .product_view_main_description_btn {
                        color: #0061DF;
                        background-color: transparent;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        text-decoration-line: underline;
                    }
                }
            }

            .product_view_main_descr_location_wrapper {
                margin-top: 33px;

                .product_view_main_descr_location {
                    .product_view_main_descr_location_heading {
                        color: #0D263B;
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 24px;
                    }

                    .product_view_main_descr_location_ul {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        gap: 24px;
                        margin-bottom: 28px;

                        .product_view_main_descr_location_li {
                            display: flex;
                            gap: 8px;
                            color: #696969;

                            span {
                                color: #0D263B;
                                font-weight: 600px;
                            }
                        }

                        @media only screen and (max-width:450px) {
                            display: flex;
                            flex-direction: column;
                        }

                        @media only screen and (max-width:780px) {
                            .product_view_main_descr_location_li {
                                margin-bottom: 15px;
                            }

                            gap: 0;
                        }
                    }
                }
            }

            .product_view_main_descr_details_wrapper {
                margin-top: 33px;

                .product_view_main_descr_details {
                    .product_view_main_descr_details_heading {
                        color: #0D263B;
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 24px;
                    }

                    .product_view_main_descr_details_ul {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        gap: 24px;
                        margin-bottom: 28px;
                        width: 100%;

                        .product_view_main_descr_details_li {
                            display: flex;
                            gap: 8px;
                            color: #696969;

                            span {
                                color: #0D263B;
                                font-weight: 600px;
                            }
                        }

                        @media only screen and (max-width:450px) {
                            display: flex;
                            flex-direction: column;
                        }

                        @media only screen and (max-width:780px) {
                            .product_view_main_descr_details_li {
                                margin-bottom: 15px;
                            }

                            gap: 0;
                        }
                    }
                }
            }


            @media only screen and (max-width:780px) {
                width: 100%;
            }
        }

        .contact_to_seller_section {
            border-radius: 3px;
            border: 1px solid var(--border, #E6E9EC);
            border-radius: 10px;
            padding: 26px;
            background: #FFF;
            width: 280px;
            height: 560px;

            .contact_to_seller {
                .contact_to_seller_user_profile {
                    display: flex;
                    gap: 10px;
                    flex-direction: column;

                    .contact_to_seller_user_profile_img {
                        width: 52px;
                        height: 52px;
                    }

                    .contact_to_seller_user_profile_titles {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h3 {
                            color: #0D263B;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 24px;
                        }

                        a {
                            color: #696969;
                            font-size: 14px;

                            line-height: 24px;
                        }

                    }

                    @media only screen and (max-width:780px) {
                        width: 100%;
                        gap: 20px;
                        flex-direction: row;
                    }

                    @media only screen and (max-width:380px) {
                        // width: 100%;
                        // gap: 20px;
                        flex-direction: column;
                    }
                }

                .contact_to_seller_form_wrapper {
                    .contact_to_seller_form {
                        margin-top: 26px;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        .contact_to_seller_form_label {
                            display: none;
                        }

                        input {
                            width: 100%;
                            border: none;
                            border-bottom: #E6E9EC 1px solid;
                            color: #696969;
                            font-size: 16px;
                            line-height: 20px;
                            padding-bottom: 4px;

                            padding-left: 5px;

                            &:focus {
                                outline: none;

                            }
                        }

                        .contact_to_seller_form_phone {
                            display: flex;
                            border-bottom: #E6E9EC 1px solid;
                            gap: 7px;

                            span {
                                color: #696969;
                            }

                            .contact_to_seller_form_input_phone_input {
                                padding-left: 5px;
                                border: none;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }

                        textarea {
                            border: none;
                            border-bottom: #0D263B 1px solid;
                            resize: vertical;
                            height: 52px;

                            &:focus {
                                outline: #696969;
                            }
                        }

                        .contact_to_seller_form_checkbox {
                            display: flex;
                            flex-direction: row-reverse;
                            align-items: start;

                            // width: 100%;
                            .contact_to_seller_form_label_checkbox {
                                color: #696969;
                                line-height: 20px;
                            }

                            gap: 8px;

                            .contact_to_seller_form_checkbox_input {
                                width: 18px;
                                height: 18px;
                                flex-shrink: 0;
                            }
                        }

                        .contact_to_seller_form_btn {
                            border-radius: 5px;
                            background: #0061DF;
                            color: #FFF;
                            line-height: 20px;
                            width: 100%;
                            padding: 12px 0;

                            &:hover {
                                opacity: .7;
                            }

                            &:active {
                                opacity: .5;
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width:780px) {
                width: 100%;
            }
        }



        @media only screen and (max-width:780px) {
            flex-direction: column;
        }
    }
}